body {
    padding: 0;
    margin: 0;
    background-color: #787c96;
    font-family: 'Microsoft YaHei';
}

input {
    outline: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    position: relative;
    width: 1200px;
    height: 636px;
    margin-left: calc(50vw - 600px);
    margin-top: calc(50vh - 318px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 4px rgba(98, 100, 117, 0.548);
    background-color: #fdfdfd;
}


/*---------------   车次列表盒子   ---------------*/
.container .ticket-list {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
    overflow: hidden;
    animation: 1s;
}
/* 标题 */
.container .ticket-list .title {
    margin: 30px 0 22px 0;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    color: #555870;
    letter-spacing: 8px;
    user-select: none;
}

.container .ticket-list .now-time {
    position: absolute;
    z-index: 2;
    top: 42px;
    left: 120px;
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: #616683;
}

.container .ticket-list ul {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.container .ticket-list ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 16px;
    user-select: none;
}

.container .ticket-list ul li > * {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
/* 购买按钮 */
.container .ticket-list ul li .buy {
    max-width: 90px;
    height: 24px;
    border: 1px solid #555870;
    border-radius: 12px;
    margin-right: 24px;
    text-align: center;
    cursor: pointer;
}

.container .ticket-list ul li .buy:hover,
.container .ticket-list .prev:hover,
.container .ticket-list .next:hover,
.container .buy-ticket-box .cancel:hover,
.container .buy-ticket-box .buy:hover {
    background-color: #555870;
    color: #fcf9f9;
}
/* 奇数行背景 */
.container .ticket-list ul li:nth-child(odd) {
    background-color: #f3f1f1;
}
/* 鼠标滑动 */
.container .ticket-list ul li:hover {
    background-color: #ffeae8;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
/* 第一列表头显示 */
.container .ticket-list ul li:first-of-type {
    background-color: #eeeeee;
    font-size: 20px;
    font-weight: 600;
    border-top: 1px solid #d4d0d0;
    border-bottom: 1px solid #d4d0d0;
    user-select: none;
    letter-spacing: 1px;
    /* text-align: center; */
}
.container .ticket-list ul li:first-of-type .buy {
    border: 0;
    cursor: default;
}
.container .ticket-list ul li:first-of-type .buy:hover {
    background-color: transparent;
}

.container .ticket-list ul li:first-of-type:hover {
    background-color: #eeeeee;
}

/* 底部页面切换盒子 */

.container .ticket-list .turing-page,
.container .buy-ticket-box .change {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #fdfdfd;
    user-select: none;
}

/* 上一页/下一页 */
.container .ticket-list .prev,
.container .ticket-list .next,
.container .buy-ticket-box .cancel,
.container .buy-ticket-box .buy {
    width: 100px;
    height: 36px;
    border: 1px solid #555870;
    border-radius: 20px;
    background-color: #fdfdfd;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}


/*---------------  信息填写界面  ---------------*/
.container .unselect {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.container .buy-ticket-box {
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 80%;
    top: 10%;
    left: 25%;
}
.container .buy-ticket {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-color: #fdfdfd;
    box-shadow: 0 0 12px 2px rgba(177, 177, 177, 0.664);
}
.container .buy-ticket .title {
    margin: 30px 0 22px 0;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    color: #555870;
    letter-spacing: 8px;
    user-select: none;
}

.contianer .buy-ticket .buy-ticket {
    flex: 1;
}
.container .buy-ticket .input-box label {
    display: inline-block;
    width: 80px;
    height: 21px;
    margin-bottom: -3px;
    line-height: 21px;
    font-size: 18px;
    text-align: justify;
    color: #595b79;
    user-select: none;
    overflow: hidden;
 }
.container .buy-ticket .input-box label:after {
        content:'';
        width: 100%;
        display: inline-block;
        overflow: hidden;
        height: 0;
}

.container .buy-ticket .input-box input {
    height: 32px;
    width: 250px;
    padding-left: 7px;
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #a8acc5;
    background-color: transparent;
    margin: 15px 10px;
}
.container .buy-ticket .input-box input:focus {
    border-bottom: 3px solid #e2d630;
}

.container .buy-ticket .buy-success .successIcon{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
