body {
    padding: 0;
    margin: 0;
    background-color: #787c96;
    font-family: 'Microsoft YaHei';
}

input {
    outline: none;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    position: relative;
    width: 1200px;
    height: 636px;
    margin-left: calc(50vw - 600px);
    margin-top: calc(50vh - 318px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 4px rgba(98, 100, 117, 0.548);
    background-color: #fdfdfd;
}


/*---------------   车次列表盒子   ---------------*/
.container .ticket-list {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fdfdfd;
    overflow: hidden;
}
/* 标题 */
.container .ticket-list .title {
    margin: 30px 0 22px 0;
    font-size: 32px;
    text-align: center;
    font-weight: 500;
    color: #555870;
    letter-spacing: 8px;
    user-select: none;
}

.container .ticket-list .now-time {
    position: absolute;
    z-index: 1;
    top: 48px;
    left: 120px;
    width: 250px;
    height: 30px;
    font-size: 18px;
    color: #616683;
}
.container .ticket-list .query-order {
    position: absolute;
    z-index: 1;
    top: 42px;
    right: 120px;
    width: 100px;
    height: 28px;
    border: 1px solid #555870;
    border-radius: 14px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.container .ticket-list .query-order:hover {
    background-color: #696f9b;
    color: #fcf9f9;
}

.container .ticket-list ul {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.container .ticket-list ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 16px;
    user-select: none;
}

.container .ticket-list ul li > * {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* 奇数行背景 */
.container .ticket-list ul li:nth-child(odd) {
    background-color: #f3f1f1;
}
/* 鼠标滑动 */
.container .ticket-list ul li:hover {
    background-color: #ffeae8;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
/* 第一列表头显示 */
.container .ticket-list ul li:first-of-type {
    background-color: #eeeeee;
    font-size: 20px;
    font-weight: 600;
    border-top: 1px solid #d4d0d0;
    border-bottom: 1px solid #d4d0d0;
    user-select: none;
    letter-spacing: 1px;
    /* text-align: center; */
}

.container .ticket-list ul li:first-of-type:hover {
    background-color: #eeeeee;
}
/* 购买按钮 */
.container .ticket-list ul li .buy {
    max-width: 90px;
    height: 24px;
    border: 1px solid #555870;
    border-radius: 12px;
    margin-right: 24px;
    text-align: center;
    cursor: pointer;
}
.container .ticket-list ul li .buy.time-out {
    background-color: #cf8892;
    color: #fcf9f9;
    cursor: default;
}


/*-------------- 底部页面切换盒子   -------------- */

.container .ticket-list .turing-page,
.container .buy-ticket .change,
.container .query-ticket .change {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #fdfdfd;
    user-select: none;
    border-radius: 25px;
}

/* 上一页/下一页 取消 购买 */
.container .ticket-list .prev,
.container .ticket-list .next,
.container .buy-ticket .cancel,
.container .buy-ticket .buy,
.container .query-ticket .cancel,
.container .query-ticket .delete,
.container .query-ticket .query-button {
    width: 100px;
    height: 36px;
    border: 1px solid #555870;
    border-radius: 20px;
    background-color: #fdfdfd;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.container .query-ticket .delete {
    display: none;
    background-color: #f1a5a5;
}

.container .ticket-list ul li .buy:hover,
.container .ticket-list .prev:hover,
.container .ticket-list .next:hover,
.container .buy-ticket .cancel:hover,
.container .buy-ticket .buy:hover,
.container .query-ticket .cancel:hover,
.container .query-ticket .delete:hover,
.container .query-ticket .query-button:hover {
    background-color: #696f9b;
    color: #fcf9f9;
}
/* 第一列右侧购买隐藏 */
.container .ticket-list ul li:first-of-type .buy {
    border: 0;
    cursor: default;
}
.container .ticket-list ul li:first-of-type .buy:hover {
    background-color: transparent;
}
.container .ticket-list ul li .buy.time-out:hover {
    background-color: #cf8892;
    color: #fcf9f9;

}

/*---------------  信息填写界面  ---------------*/
.container .unselect {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.container .buy-ticket-box,
.container .query-ticket-box {
    position: absolute;
    z-index: 3;
    width: 50%;
    height: 80%;
    top: 10%;
    left: 25%;
    border-radius: 25px;
    background-color: #fdfdfdee;
    box-shadow: 0 0 12px 2px rgba(177, 177, 177, 0.664);
}
.container .buy-ticket,
.container .query-ticket {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.container .buy-ticket .title,
.container .query-ticket .title {
    margin: 30px 0 22px 0;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    color: #555870;
    letter-spacing: 8px;
    user-select: none;
}

/* .contianer .buy-ticket .buy-ticket {
    flex: 1;
} */
.container .buy-ticket .input-box label,
.container .query-ticket .input-box label {
    display: inline-block;
    width: 80px;
    height: 21px;
    margin-bottom: -3px;
    line-height: 21px;
    font-size: 18px;
    text-align: justify;
    color: #595b79;
    user-select: none;
    overflow: hidden;
 }
.container .buy-ticket .input-box label:after,
.container .query-ticket .input-box label:after {
        content:'';
        width: 100%;
        display: inline-block;
        overflow: hidden;
        height: 0;
}

.container .buy-ticket .input-box input,
.container .query-ticket .input-box input {
    height: 32px;
    width: 250px;
    padding-left: 7px;
    font-size: 20px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid #a8acc5;
    background-color: transparent;
    margin: 15px 10px;
}
.container .buy-ticket .input-box input:focus,
.container .query-ticket .input-box input:focus {
    border-bottom: 3px solid #e2d630;
}

.container .buy-ticket .buy-success .successIcon,
.container .query-ticket .refund-success .successIcon
{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
.container .query-ticket .query-success {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.container .query-ticket .query-success .point {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
}
.container .query-ticket .query-success .point .arrive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.container .query-ticket .query-success .departure-time,
.container .query-ticket .query-success .travel-time,
.container .query-ticket .query-success .id-card,
.container .query-ticket .query-success .name {
    font-size: 18px;
    margin-bottom: 12px;
}